.filter {
    font-size: 13px;
    margin: 0 -10px;

    label {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding-right: 4px;
        color: $color_Text;
        font-weight: 600;
    }

    fieldset {
        display: inline-block;
        margin: 0 10px;
    }
}
